@import url('fonts.css');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: stretch;
    font-family: sans-serif;
}

header,footer {
    padding: 35px;
}

.brand-bg {
    background-color: #1A1E33;
    color: white;
}

.secondary-brand-bg {
    background-color: #4C8F96;
    color: white;
}

.spacer {
    flex-grow: 1;
 }

 .content {
    max-width: 1200px;
    width: 100%;
 }



/* Header */

 header {
    display: flex;
 }

 header>.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    margin-bottom: -50px;
 }

 h1 {
    padding: 40px;
    font-family: 'Arimo', sans-serif;
    font-size: 4rem;
    margin: 0;
 }

 header a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 10px;
 }

 .activenav {
    background-color: #335F64;
 }



 /* Footer */

 footer {
    display: flex;
}

footer>.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.share-container {
    padding: 25px;
    background-color: #387A82;
}

.share-container>a {
    margin: 5px;
}

.f1, .f2, .f3 {
    width: 30%;
}

.f2 {
    text-align: center;
}

.f3 {
    display: flex;
    justify-content: end;
}


 /* Main */

 main {
    background-color: #EDEDED;
    flex-grow: 1;
    padding: 50px 0;
    display: flex;
}



/* First heading */

 h2 {
    color: #1A1E33;
    font-family: 'ChangaOne', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin: 5%;
}

.heading-container {
    border: solid #5FB3BD 2px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.heading-container>img {
    width: 40%;
}



/* Short points of interest */

.short-points-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.short-point {
    min-width: 250px;
    width: 24%;
}

.short-point>img {
    width: 100%;
}

.short-point>img {
    box-shadow: 0 10px 10px black;
}

p {
    line-height: 2rem;
    margin-top: 1%;
}

h4 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 20px;
}

.thick-border {
    border: solid #5FB3BD 5px;
    border-radius: 5px;
    box-sizing: border-box;
}



/* Long points of interest */

.long-points-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
    gap: 10px;
}

.long-points-container>* {
    width: 49%;
    min-width: 450px;
    box-sizing: border-box;
}

.featured {
    background-color: white;
    padding: 20px;
}

.featured img {
    width: 20%;
}

.featured h4 {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
}

.featured p {
    margin-top: 25px;
}

.hairstyle-info {
    padding: 20px;
}

.hair-loss {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.hair-loss img {
    margin: -8px 20px -8px 0;
}

.hair-loss p {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 5px 20px;
    line-height: 2rem;
}

h3 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    padding: 15px 35px;
    width: max-content;
    margin-top: -35px;
}

@media only screen and (max-width: 1200px) {
    .short-points-container {
        justify-content: space-around;
    }

    .long-points-container {
        justify-content: space-around;
    }

    .featured {
        margin-bottom: 20px
    }

    .f1,.f2,.f3 {
        width: 100%;
    }

    .f3 {
        justify-content: center;
    }

    footer>.content {
        flex-direction: column;
    }
}